body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
}

.navbar {
    margin-bottom: 50px;
}